
body {
  margin: 0;
  overscroll-behavior-y: none;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width:4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,20%,90%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}

::-webkit-input-placeholder {
  color: #ddd;
}
::-moz-placeholder {
  color: #ddd;
}
:-ms-input-placeholder {
  color: #ddd;
}
:-moz-placeholder {
  color: #ddd;
}

.markdown-block {
  margin: 16px 0;
  line-height: 24px;
  font-size: 14px;
}

.markdown-block p code {
  background-color: white;
  padding: 0 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  margin: 4px;
}

.markdown-block pre {
  background-color: #ffffff;
  padding: 16px;
  line-height: 21px;
  font-size: 13px;
  overflow: auto;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.markdown-block code {
 font-family: "Source Code Pro", "Menlo", monospace;
}

.markdown-block img {
  max-width: 100%;
  max-height: 80vh;
}
